
#mainWindow{
    background-color: #011627;
    color: white;
}

#rename_audio_tab{
    background-color: #011627;
    color: white;
}

#dir_input{
    padding: 5px;
    border-radius: 2px;
    font-size: 12px;
}

#open_dir_btn{
    background-color: #657FAB;
    color: #f1f1f1;
    padding: 6px;
}

#select_csv_input{
    padding: 5px;
    border-radius: 2px;
    font-size: 12px;
}

#select_file_btn{
    background-color: #657FAB;
    color: #f1f1f1;
    padding: 6px;
}

#rename_btn{
    background-color: #657FAB;
    color: #f1f1f1;
    padding: 6px;
}

#prefix_input{
    padding: 5px;
    border-radius: 2px;
    font-size: 12px;
}

#cancel_btn{
    background-color: #e00;
    color: #f1f1f1;
    padding: 5px;
}

#progress_bar{
    border-radius: 100px;
    color: #f1f1f1;
    font-weight: 700;
    text-align: center;
}

